.chat{
    &_reciever{
        margin-left: auto;
        background-color: #6a72c0;
        position: relative;
        font-size: .9rem;
        padding: .8rem;
        border-radius: 1rem;
        width: fit-content;
        margin-bottom: 2rem;
        font-family: 'Roboto', sans-serif;
        max-width: 400px;
    }
    &_message{
        position: relative;
        font-size: .9rem;
        padding: .8rem;
        background-color: #dba7e6;
        border-radius: 1rem;
        width: fit-content;
        margin-bottom: 2rem;
        font-family: 'Roboto', sans-serif;
        color: black;
        max-width: 400px;
    }
    &_username{
        position: absolute;
        top: -1.5rem;
        font-family: 'Roboto', sans-serif; 
        font-weight: bold;
        font-size: .8rem;
        letter-spacing: .1ex;
        color: white;
    }

    &_timestamp{
        margin-left: 1rem;
        font-size: xx-small;
        font-weight: bold;
    }
}
