.chatroom{
    grid-row: 1/-1;
    grid-column: 1/-1;
    height: 100%;
    
    display: grid;
    grid-template-columns: 25vw 1fr;
    text-align: center;

    &_navigation{
        grid-column: 1/2 ;
        background-color: rgba(92, 99, 226, 0.89);
        position: fixed;
        height: 100%;
        width: 25vw;
        
    }
    &_nav{

        &_logo{
            width: 8rem;
            height: 6rem;
            justify-self: start;
            margin: 2rem auto .5rem;
        }

        &_name{
            color:white;
            font-weight: bold;
            font-size: 3rem;
            font-family: 'Roboto',sans-serif;
            margin-bottom: 5rem;

            &:hover{
                color: orangered;
            }
        }

        &_links{
            list-style: none;
            text-align: start;

            &:not(:last-child){
                margin-bottom: 3rem;
            }
           
        }
        &_link{
            text-decoration: none;
            color: white;
            font-size: 1.2rem;
            font-weight: 400;
            margin-top: .7rem;
            display: block;
            transition: all .3s;
            font-family: 'Roboto', sans-serif;
            color: white;

            &:hover{
                transform: translateY(-3px);
                font-size: 1.5rem;
                color: white;
            }
             
        }

    }

    &_postholder{
        grid-column: 2/3;
        display: grid;
        row-gap: 1rem;
        grid-template-rows: repeat(auto-fit , 15rem);
        height: 100%;
        grid-auto-rows: 15rem;
        box-sizing: border-box;
        
    }
   
    
}

.logout{
    margin-top: 5rem;

    &:hover{
        transform: scale(3);
    }
    
}

.background_img{
    z-index: 1;
    position: fixed;
    right: 25%;
    top: 25%;
    height: 65vh;
}


