.post {
  background-color: rgba(235, 201, 230, 0.719);
  border-radius: 30px;
  margin: 1rem 3rem 0;
  z-index: 2;
  overflow: hidden;
  max-width: 40rem;
  border: 1px solid lightgrey;
}

.post_header {
  padding: 1.5rem;
}

.post_text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 1.25rem;
  text-align: justify;
}

.post_img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.post_interactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
}

.post_like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post_like_count {
  margin-left: 1rem;
  padding-top: 1rem;
}

.post_buttons {
  background-color: transparent;
  border: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.post_buttons:hover {
  -webkit-transform: translateY(-3px) scale(1.5);
          transform: translateY(-3px) scale(1.5);
  color: #1f28a3;
}

.post_buttons:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  color: #b44255;
}

.post_buttons:focus {
  outline: none;
}

.post_comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
}

.post_comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post_comment-inputs {
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: .5rem;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  border: none;
  padding: .5rem 2rem;
}

.post_comment-inputs:focus {
  outline: none;
}

.post_comment-inputs::-webkit-input-placeholder {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
}

.post_comment-inputs:-ms-input-placeholder {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
}

.post_comment-inputs::-ms-input-placeholder {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
}

.post_comment-inputs::placeholder {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
}

.post_comment-button {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  padding: .75rem;
  border: none;
  border-radius: 30px;
  background-color: #1c6ebb;
  color: white;
}

.post_comment-button:hover {
  background-color: black;
}

.post_comment-button:focus {
  outline: none;
}
/*# sourceMappingURL=Post.css.map */