.Nav-links{

    grid-column: 1/-1;
    grid-row: 1/2;
    display: grid;
    justify-content: end;
    align-content: center;
    padding: 100px 50px ;
    

    &__ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__li{
        display: inline-block;
        margin: 40px;
    }

    &__a{
        text-decoration: none;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 1.3rem;

        &:hover{
            color: orangered;
        }
    }

    &__login:link,
    &__login:visited{
        text-decoration: none;
        background-color: #5C62E2;
        padding: 1.5rem 2rem;
        border-radius: 2rem;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        transition: all 0.3s;
    }

    &__login:hover{
        background-color:red;
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    }

    &__login:active{
        transform: translateY(-1px);
        box-shadow: 0 5 10px rgba(0, 0, 0, 0.3);
    }

}



