.chat-room{
    grid-row: 1/span 3;
    grid-column: 1/-1;
    background-color: rgba(235, 201, 230, 0.719);
    border-radius: 30px;
    margin: 1rem 1.5rem 0;
    padding: 5rem;
    text-align: start;
    z-index: 2;
    height: 95vh;

    &_input-box{
        margin-bottom: 4rem;
    }

    &_input{ 
        padding: 1.5rem 2rem;
        border-radius: 3px;
        width: 80%;
        border: none;
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;
        border-bottom:  3px solid transparent;
        width: 80%;
        display: block;
        color: inherit;
        background-color: rgb(226, 212, 212);

        &::-webkit-input-placeholder{
            color: rgb(92, 98, 226); 
            }
    
        &:focus{
            outline: none;
            border-bottom:  3px solid rgb(92, 98, 226);
        }
    }
    &_input:placeholder-shown + &_label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    &_label{
        font-size: 1.2rem;
        font-weight: 400;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
        font-family: 'Roboto', sans-serif;
        color: black;
    }

    &_button{
        background-color: rgb(92, 98, 226);
        color: white;
        padding: 1rem 1.5rem;
        border: none;
        border-radius: 20px;
        transition: all .2s;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 2rem;

        &:hover{
            background-color: orangered;
            transform: translateY(-3px);
        }
        &:active{
            background-color: green;
            color: black;
            transform: translateY(-1px);
        }
    }
    &_instruction{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    }
    &_instructions-items{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}