body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ::-webkit-scrollbar{
  width: 1rem;
}

::-webkit-scrollbar-track{
  border: 3px  solid #232943;
}

::-webkit-scrollbar-thumb{
  background:  tomato;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background: linear-gradient( transparent ,  tomato);
  border-radius: .5rem;
} */
